<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loan A Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" style="color: rgb(180, 186, 228);">Loan Me A Home</a>
      </h1>
      <nav>
       
        <a href="/dashboard" style="color: rgb(180, 186, 228);">Add A Loan</a>
         {{#if loggedIn}}
        <button id="logout" class="btn-no-style" style="color: rgb(180, 186, 228);">logout</button>
        {{else}}
        <a href="/login" style="color: rgb(180, 186, 228);">Login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      <aside>
        <img src="/images/logo/logo.png" class="logo">
        <div class="rates"></div>
        <h2>There are so many Home Loans</h2>
        <p>Finding a home loan can be difficult. This site is here to show you the many options of finding a home.
          You can find a loan with any type of 
          <ol><b>
          <li>Down payment,
            <li> Credit score,
              <li> Employment or
                <li> Property type.
          </ol></b>
          <h3>Easy to apply, just click the Link on each loan to be directed to the Lender's application.</h3>
          For example, if you want to purchase a distressed property, you have to have a rehab load.<br>
          IF you want to buy a mobile home or condo, there is a loan for that.
          IF you have low credit or want to make a low down payment.
          What if you have no employment history or looking for loan on your home's equity.<br>
          You guessed it...there is a loan for that too.
          <h3>Just search by typing in your credit, home type, down payment or any other info and the loans will filter automatically.<br><br>
          ***When you apply for a home loan, it will negatively affect your credit.<br>
          However, you have 60 days to continue applying for loans without taking additional credit hits.
          The credit agencies want you to shop around for the best loan option.

        </p>
      </aside>
      <div class="main-gallery">
      {{{ body }}}
      </div>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  

    <script src="/javascript/getfeed.js"></script>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>