<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loan A Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/" style="color: rgb(180, 186, 228);">Loan Me A Home</a>
      </h1>
      <nav>
       
        <a href="/dashboard" style="color: rgb(180, 186, 228);">Add A Loan</a>
         {{#if loggedIn}}
        <button id="logout" class="btn-no-style" style="color: rgb(180, 186, 228);">logout</button>
        {{else}}
        <a href="/login" style="color: rgb(180, 186, 228);">Login</a>
        {{/if}}
      </nav>
    </header>

    <main>
      <aside>
        <img src="/images/logo/logo.png" class="logo">

        <h2>This is the aside</h2>
      </aside>
      <div class="main-gallery">
      {{{ body }}}
      </div>
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  

    <script src="/javascript/getfeed.js"></script>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>