
<img src="/images/logo/logo.png" class="logo">
<section>
  <div id="md:flex lg:flex"class="loans-holder ">
    <div class="input-group">
      <h3 style="color: rgb(180, 186, 228);">Filter Home Loans</h3>
      <input name="input-search" id="search" onkeyup="searchLoans()" placeholder="Search Loans" type="text" autofocus="true" class="form-control ml-5"/>
    </div>
  <div class="post-list" id=""></div>
</section>

<div class="div-list">
<ul class="post-list">
  {{#each posts as |post|}}
  
    {{> post-info post }}
 
  {{/each}}
</ul>
</div>



<script src ="/javascript/loanfilter.js"></script>